body {
  background-color: #50c878;
}
h1 {
  text-align: center;
}
ul {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
}
li {
  text-align: center;
  margin-left: -70px;
}
.pokemon-button {
  background: #a4c9ef;
  padding: 1.4em;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
  margin-top: 1em;
  width: 100%;
  max-width: 200px;
}

.pokemon-button:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}
.list-group-item {
  margin: 20px auto;
  border: black 1px solid;
}
#modal-container {
  display: none;
}
#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}
.modal {
  display: grid;
  background: white;
  border-radius: 5px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  position: relative;
  max-height: 400px;
  justify-items: center;
  align-items: center;
}
/* Styles for screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 95%;
  }
  /* Specific mobile-only styles */
}

/* Styles for screens between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
  /* Specific tablet-only styles */
}

/* Styles for screens larger than 1024px (e.g., desktops) */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    width: 80%;
  }
  /* Specific desktop-only styles */
}
